.dark-gray-background{
    -fx-background-color: #46474A;
}

.gray-background{
    -fx-background-color: #636566;
}

.white-ice-background{
    -fx-background-color: #E5E5E0;
}

.transparent-background{
    -fx-background-color: rgba(211, 211, 211, 0.8);
}

.chat-letters{
    -fx-color: rgba(239, 242, 255);
}

.chat-background{
    -fx-background-color: #12B886;
}

.chat-radius{
    -fx-background-radius: 20px;
}
